<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Weixin-java-tool-suite" verbose="1">
  <test name="API_Test">
    <classes>
      <class name="vip.seanxq.weibo.mp.api.WeiboMpBusyRetryTest"/>
      <class name="vip.seanxq.weibo.mp.api.impl.WeibFansMassMessageServiceImplTest"/>
      <class name="vip.seanxq.weibo.mp.api.impl.WeiboFansUserServiceImplTest"/>
      <class name="vip.seanxq.weibo.mp.api.impl.WeiboFansQrcodeServiceImplTest"/>
      <class name="vip.seanxq.weibo.mp.api.WeiboFansMessageRouterTest"/>
      <class name="vip.seanxq.weibo.mp.api.WeiboMpJsAPITest"/>
    </classes>
  </test>

  <test name="Bean_Test">
    <classes>
      <class name="vip.seanxq.weibo.mp.bean.message.WeiboMpXmlMessageTest"/>
      <class name="vip.seanxq.weibo.mp.bean.message.WeiboMpXmlOutImageMessageTest"/>
      <class name="vip.seanxq.weibo.mp.bean.message.WeiboMpXmlOutMusicMessageTest"/>
      <class name="vip.seanxq.weibo.mp.bean.message.WeiboMpXmlOutNewsMessageTest"/>
      <class name="vip.seanxq.weibo.mp.bean.message.WeiboMpXmlOutVideoMessageTest"/>
      <class name="vip.seanxq.weibo.mp.bean.message.WeiboMpXmlOutVoiceMessageTest"/>
      <class name="vip.seanxq.weibo.mp.bean.message.WeiboMpXmlOutTextMessageTest"/>
    </classes>
  </test>
</suite>
